configs/magrathea.conf
app/plugins/*
vendor/*

_cache/
_compiled/
_compressed/
*_compressed.js
*_compressed.css
*.sublime-project
*.sublime-workspace

logs
medias
*.magratheaDB
backup
sftp-config*
database/*
.htpasswd
_magrathea/*

.docker/mysql/*.nokeep

